/GameInfoCenter/Library
/GameInfoCenter/Logs
/GameInfoCenter/Temp
/GameInfoCenter/UserSettings

# Visual Studio / Rider
**/bin/
**/obj/
**/.vs/
*.user
*.suo
*.userosscache

# Toolchain outputs
/GameInfoCenter/Tools/GameInfo.Protocol/bin
/GameInfoCenter/Tools/GameInfo.Protocol/obj
/GameInfoCenter/Tools/GameInfo.Protocol.Tests/bin
/GameInfoCenter/Tools/GameInfo.Protocol.Tests/obj
